/* 
 * html5doctor.com Reset Stylesheet
 * v1.6.1
 * Last Updated: 2010-09-17
 * Author: Richard Clark - http://richclarkdesign.com 
 * Twitter: @rich_clark
 * */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* line 1, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /vagrant/railsBlog/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* line 9, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
ol, ul {
  padding-left: 30px;
}

/* line 13, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* line 19, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.status {
  margin-bottom: 10px;
}

/* line 23, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

/* line 38, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.square:focus {
  outline: none;
}

/* line 42, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.kbd-navigation .square:focus {
  background: #ddd;
}

/* line 46, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.game {
  display: flex;
  flex-direction: row;
}

/* line 51, /vagrant/railsBlog/app/assets/stylesheets/static_pages.scss */
.game-info {
  margin-left: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

