$mdc-theme-primary: #315FBF;
$mdc-theme-secondary: #FF6560;

@import "@material/theme/mdc-theme";
@import "@material/button/mdc-button";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
