main {
    background-color: #333333;
}
section {
    background-color: #EEEEEE;
}
section.mdl-layout__tab-panel {
    min-height: 86vh;
}
.mdl-layout-title a {
    color: #FFFFFF;
    text-decoration: none;
}
.page-content {
    margin: 0 80px;
}
.hidden {
    display: none;
}
@media screen and (min-width: 1180px) {
    .not-pc {
        display: none;
    }
}
@media screen and (max-width:1180px) { 
    .pc {
        display: none;
    }
    .page-content {
        margin: 0 5%;
    }
}
